<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8"/>

    <title>Elasticsearch</title>

    <script src="/webjars/jquery/3.2.0/jquery.min.js" type="text/javascript"></script>

    <style type="text/css" media="screen">

        table {
            border-collapse: collapse;
            border: 1px solid #000000;
        }

        table td {
            border: 1px solid #000000;
        }
    </style>
</head>

<body>

<input id="emailInput">
<input type="checkbox" id="emailCheckbox">
<button onclick="searchByDuplicatedFields('email')">searchByDuplicatedEmails</button>
<div style="margin-right:50px"></div>

<input id="addressInput">
<input type="checkbox" id="addressCheckbox">
<button onclick="searchByDuplicatedFields('address')">searchByDuplicatedAddresses</button>
<div style="margin-right:50px"></div>

<input id="phoneInput">
<input type="checkbox" id="phoneCheckbox">
<button onclick="searchByDuplicatedFields('phone')">searchByDuplicatedPhones</button>
<div style="margin-right:50px"></div>

<input id="siteInput">
<input type="checkbox" id="siteCheckbox">
<button onclick="searchByDuplicatedFields('site')">searchByDuplicatedSites</button>
<div style="margin-right:50px"></div>
</br>

<button onclick="search()" style="margin-right:50px">SEARCH!</button>

<table style="width:100%;border: 1px solid black;" id="responseData">
    <caption>response</caption>
    <tr>
        <th>name</th>
        <th>address</th>
        <th>phone</th>
        <th>email</th>
        <th>site</th>
        <th>section</th>
        <th>industry</th>
    </tr>
</table>

<script>
    function search() {
        var searchCriteriaInfo = [];

        ['email', 'address', 'phone', 'site'].forEach( function(fieldname) {
            if ($('#' + fieldname + 'Checkbox').is(":checked")) {
                var inputValue = $('#' + fieldname + 'Input').val();
                searchCriteriaInfo.push({
                    fieldname: fieldname,
                    value: inputValue === "" ? null : inputValue
                });
            }
        });

        $.ajax({
            url: "/search",
            type: 'post',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(searchCriteriaInfo),
            dataType: 'json',
            cache: false,
            timeout: 60000,
            success: function (result) {
                renderResults(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    }

    function searchByDuplicatedFields(fieldname) {
        searchByDuplicatedFieldsStart(fieldname);
    }

    function searchByDuplicatedFieldsStart(fieldname) {
        var query = $("#" + fieldname + 'Input').val();
        if (query !== undefined && query !== null) {
            query = query.trim();
        }

        $.ajax({
            url: "/searchCompaniesWithDuplicatedFields",
            data: {
                fieldname: fieldname,
                query: query
            },
            dataType: 'json',
            cache: false,
            timeout: 60000,
            success: function (result) {
                renderResults(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    }

    function renderResults(data) {
        $("#responseData").empty();


        var htmlData = "\n" +
            "    <caption>response</caption>\n" +
            "    <tr>\n" +
            "        <th>name</th>\n" +
            "        <th>address</th>\n" +
            "        <th>phone</th>\n" +
            "        <th>email</th>\n" +
            "        <th>site</th>" +
            "        <th>section</th>\n" +
            "        <th>industry</th>\n" +
            "    </tr>";
        data.forEach(function (row) {
            htmlData += '<tr>';

            htmlData += '<td>' + row['name'] + '</td>';
            htmlData += '<td>' + row['address'] + '</td>';
            htmlData += '<td>' + row['phone'] + '</td>';
            htmlData += '<td>' + row['email'] + '</td>';
            htmlData += '<td>' + row['site'] + '</td>';
            htmlData += '<td>' + row['section'] + '</td>';
            htmlData += '<td>' + row['industry'] + '</td>';

            htmlData += '</tr>';
        });

        $("#responseData").html(htmlData);
    }
</script>

</body>
</html>